body{
background:#EAF59A;
color: #000000;
margin: 20px;
}

div.anzac {
width: 1085px;
height: 100px;
padding: 10px;
border: 5px solid #AB884B ;

}

div.summary{
padding: 10px;
border: 5px solid #AB884B;
margin: 20px;
}

div.summarytwo{
padding: 10px;
border: 5px solid #AB884B;
margin: 20px;
text-align: center;
}

div.graphtxt{
padding: 10px;
border: 5px solid #AB884B;
margin: 10px;
}

div.names{
padding: 10px;
border: 5px solid #AB884B;
width: 925px;
height:615px;
}

div.column{
width: 470px;
height: 440px;
padding: 10px;
border: 5px solid #AB884B;
position: absolute;
top: 279px; /* Adjust to move text below the box */
left: 525px;}

div.contextimgone{
display:block;
margin: auto;
width: 33%;
}
    
div.contextimgtwo{
display:block;
margin: auto;
width: 30%;    
}

div.four{
position: absolute;
top: 279px; /* Adjust to move text below the box */
left: 400px;
width: 545px;
height: 440px;
padding: 10px;
border: 5px solid gray;
}

div.Clyde{
position: relative;
left: 400px;
width: 545px;
height: 440px;
padding: 10px;
border: 5px solid gray;
}

div.French{
position: relative;
left: 400px;
width: 545px;
height: 820px;
padding: 10px;
border: 5px solid gray;
}

div.Maxwell{
position: relative;
left: 400px;
width: 545px;
height: 640px;
padding: 10px;
border: 5px solid gray;
}

div.GeneraldAmade{
position: relative;
left: 400px;
width: 545px;
height: 540px;
padding: 10px;
border: 5px solid gray;
}

div.bath{
position: relative;
left: 400px;
width: 545px;
height: 440px;
padding: 10px;
border: 5px solid gray;
}

div.GOURAUD{
position: relative;
left: 400px;
width: 445px;
height: 640px;
padding: 10px;
border: 5px solid gray;
}

div.w{
position: relative;
left: 400px;
width: 545px;
height: 340px;
padding: 10px;
border: 5px solid gray;
}

div.Encampment{
position: relative;
left: 400px;
width: 545px;
height: 500px;
padding: 10px;
border: 5px solid gray;
}

div.Chunuk{
position: relative;
left: 400px;
width: 545px;
height: 440px;
padding: 10px;
border: 5px solid gray;

}
.p{
margin: 20px;
}

nav 
{
background-color: #B7D49B;
text-align: center; 
width: 100%; 
}       
    
nav div 
{
padding: 14px 20px; 
display: inline-block; 
}      
      
nav a 
{
font-size: 23px;
text-decoration: none; 
color: black; 
}
        
nav div:hover 
{
background-color: #555; 
color: white; 
}
/* MF: Nav Bar CSS */

span.person.on {background-color:#FFFF00}
span.personbox.on {background-color:#FFFF00;}
span.location.on {background-color:#77C9FF}  
span.unit.on {background-color:#EBB2E0}
/* KYW: javascript additions */


